.authors-tools {
    padding: 0 24px;

    .ant-card-bordered {
        border: 2px solid #999;
    }

    .ant-card-head {
        background-color: #999;
        color: #fff;
    }

    .ant-card-body {
        min-height: 360px;
    }

    .list-box {
        padding: 0 20px;
        font-size: 16px;

        .list-label {
            font-weight: bold;
        }

        .list-value {
            font-size: 14px;
            color: #777;
            margin-bottom: 20px;
        }
    }
}
