// Import styles
$sidebar-width: 250px;

@import "~@coreui/icons/css/coreui-icons.css";
@import "~@coreui/coreui/scss/coreui.scss";
@import "~antd/dist/antd.css";
@import "~react-quill/dist/quill.snow.css";

.app {
  .sidebar-minimizer {
    display: none;
  }

  .app-header .dropdown-item {
    min-width: auto;
  }

  .app-body {
    .card-toolbars {
      .anticon {
        vertical-align: inherit;
      }
    }

    .page-content {
      .card-body {
        .ant-table-wrapper {
          margin: -5px -20px 0 -20px;

          .ant-table-pagination.ant-pagination {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .ql-editor {
    min-height: 10em;
  }

  button {
    &.ql-latex {
      background-image: url("/img/latex.png") !important;
      background-clip: content-box !important;
      background-size: 30px 28px !important;
      background-position: 0px -1px !important;
      width: 32px !important;
      padding: 0 !important;
      background-repeat: no-repeat !important;
    }

    &.ql-rumus {
      background-image: url("/img/rumus.png") !important;
      background-clip: content-box !important;
      background-size: 30px auto !important;
      background-position: 0px 1px !important;
      margin-left: 7px;
      width: 32px !important;
      padding: 0 !important;
      background-repeat: no-repeat !important;
    }
  }
}
